// SPDX-FileCopyrightText: 2024-2026 Gabriel Arazas <foodogsquared@foodogsquared.one>
//
// SPDX-License-Identifier: MIT

simplified_ui true
on_force_close "quit"
default_mode "locked"
mouse_mode false
