# SPDX-FileCopyrightText: 2020-2026 Gabriel Arazas <foodogsquared@foodogsquared.one>
#
# SPDX-License-Identifier: MIT

root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{nix,yaml,json,toml,tf}]
indent_style = space
indent_size = 2
