# SPDX-FileCopyrightText: 2022-2026 Gabriel Arazas <foodogsquared@foodogsquared.one>
#
# SPDX-License-Identifier: MIT

if [ -n "$(command -v lorri)" ]; then
    eval "$(lorri direnv --flake .#default)"
elif [ -n "$(command -v nix)" ]; then
    use flake
else
    use nix
fi

dotenv_if_exists .production.envrc
