// SPDX-FileCopyrightText: 2024-2026 Gabriel Arazas <foodogsquared@foodogsquared.one>
//
// SPDX-License-Identifier: MIT

layout {
  pane split_direction="vertical" {
    pane size="66%"
    pane
  }

  pane size=1 borderless=true {
    plugin location="zellij:compact-bar"
  }
}
