/*
 * SPDX-FileCopyrightText: 2025-2026 Gabriel Arazas <foodogsquared@foodogsquared.one>
 *
 * SPDX-License-Identifier: MIT
 */

:root {
    --tridactyl-font-size: 20pt !important;
}

#completions > div > table {
    font-size: var(--tridactyl-cmplt-font-size) !important;
}
